<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowvahub.bravoo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Bravoo"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter android:autoVerify="true">
                <data android:scheme="com.flowva.hub" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.flowvahub.bravoo"
                    android:host="apple-login-callback" />
            </intent-filter>
        </activity>

        <!-- Default icon -->
        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/launcher_icon"
            android:roundIcon="@mipmap/launcher_icon"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Mix Background icon -->
        <activity-alias
            android:name=".MainActivityMixBg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mix_bg"
            android:roundIcon="@mipmap/ic_launcher_mix_bg"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Purple Background icon -->
        <activity-alias
            android:name=".MainActivityPurpleBg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple_bg"
            android:roundIcon="@mipmap/ic_launcher_purple_bg"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Blue Background icon -->
        <activity-alias
            android:name=".MainActivityBlueBg"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue_bg"
            android:roundIcon="@mipmap/ic_launcher_blue_bg"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Purple Text icon -->
        <activity-alias
            android:name=".MainActivityPurpleTxt"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple_txt"
            android:roundIcon="@mipmap/ic_launcher_purple_txt"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Black Text icon -->
        <activity-alias
            android:name=".MainActivityBlackTxt"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_black_txt"
            android:roundIcon="@mipmap/ic_launcher_black_txt"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>